.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #343a40 #e9ecef;
}

.custom-scroll::-webkit-scrollbar {
  height: 12px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #e9ecef;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #343a40;
  border-radius: 10px;
}

.large-card {
  min-width: 300px;
}

.large-card-img {
  height: 300px;
  object-fit: cover;
}

.card-body {
  text-align: center;
}

.btn-link {
  margin-bottom: 10px;
}
