
  
  /* Contenedor de la tarjeta */
  .full-width-container {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8); 
    border-radius: 10px;
  }
  
  /* Tarjetas  */
  .shadow-star {
    min-width: 280px;
    max-width: 100%; 
    margin: 0 auto; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid #444;
    margin-top : 200px
  }
  
  .shadow-star:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.6); 
  }
  
  .large-card-img {
    height: 250px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
  }
  
  /* Estilo para el contenido de la tarjeta */
  .details-card {
    background-color: #ffcc00; 
    color: #000; 
    padding: 15px; 
    border-radius: 8px; 
    margin-top: 10px; 
  }
  
  .details-card .text-end {
    margin-bottom: 10px; 
  }
  
  /* Estilo para el botón "Learn more!" */
  .btn-learn-more {
    color: #fff; 
    background-color: #007bff; 
    border-color: #007bff; 
    border-radius: 5px; 
    padding: 10px 20px; 
    font-weight: bold; 
  }
  
  .btn-learn-more:hover {
    background-color: #0056b3; 
    border-color: #004085; 
  }
  
  /* Estilo del cargador */
  .spinner-border {
    border-color: #ffcc00; 
  }
  